<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BetterEdit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83B2CDAA1500475300A679A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83C4B15F150046770088F194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83C74D841468F8AB008A26A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83C74DA51468F8AB008A26A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
